[bumpversion]
current_version = 0.1.44
commit = true
tag = true

[bumpversion:file:setup.py]

[bumpversion:file:jsontrips/code.py]
search = version = "{current_version}"
replace = version = "{new_version}"

